.podcast-item {
    padding: 2rem;
    font-size: 1.5rem;
}

.podcast-item {
    border-bottom: 45px solid black;
    cursor: pointer;
    z-index: 1;
}
.podcast-item div {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.number {
    font-size: 4rem;
}

.title {
    padding-left: 2rem;
    font-size: 4rem;
}

/* .podcast-item-container:nth-child(odd) .row.podcast-item {background: #efefef } */

.podcast-item-container:nth-child(odd) .bottom-border-indicator {border-bottom: 15px solid #52e0c0; }
.podcast-item-container:nth-child(even) .bottom-border-indicator {border-bottom: 15px solid #fa7a5b; }

.bottom-border-indicator {
    box-sizing: content-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Podcast view styling */

.podcast-view {
    text-align: center;
}
.play, .pause {
    font-size: 6rem;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    padding: 2rem 3rem;;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;

    /* stick button to bottom */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}

.play {
    background-color: #52e0c0;
}

.pause {
    background-color: #fb0246;
}

audio {
    width: 80%;
    margin: 3rem auto;
}

.audio-description {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 0;
}

.audio-title {
    font-weight: bold;
    font-size: 2rem;
    padding: 0 1.5rem;
}

.navigate {
    font-weight: bold;
    cursor: pointer;
    padding: 3rem;
    font-size: 3rem;
}

.back {
    background-color: #0251d6;
    color: white;
}

.next {
    background-color: #fa7a5b;
    margin-left: auto;
}

/*  red    color: #fb0246; */
/*  green    color: #03bd85; */
/*  blue    color: #0251d6; */
/*  orange    color: #fa7a5b; */
/*  purpleish    color: #92364e; */
/*  turqoise    color: #52e0c0; */



/* experimental yellow color scheme */

/* body { background: yellow; }
* { color: black; }
.podcast-item-container:nth-child(odd) .bottom-border-indicator {border-bottom: 15px solid #fff; }
.podcast-item-container:nth-child(even) .bottom-border-indicator {border-bottom: 15px solid #fff; } */

@media only screen and (max-width: 769px) {
    .navigate {
      font-size: 2rem;
    }
  }


  @media only screen and (max-width: 668px) {
    .title, .number {
      font-size: 1.8rem;
      padding-left: 0;
    }
    .podcast-item {
        padding: 1rem;
    }

    .back, .next {
        padding: 1.5rem 1rem;
        width: 100%;
    }

    .play, .pause {
        font-size: 3rem;
        padding: 0.5rem 2rem;
        border-radius: 15px;
    }

    .audio-description {
        font-size: 1.5rem;
    }

    audio {
        margin: 1rem auto;
    }

  }


  /* Overrides for News styling instead of podcasts */

  .news-view .navigate {
    padding: 3rem 0;
    width: 32%;
    text-align: center;
    min-width: 200px;
  }

  .text-body {
      margin: 2rem 0 10rem 0;
  }

  .speak-btn {
    font-size: 3rem;
    color: black;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    padding: 2rem 0;
    cursor: pointer;
    position: fixed;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    bottom: 1rem;
    width: 13rem;
  }

  .speak-title {
    margin-left: auto;
    background-color: #2F2FA2;
    color: white;
    left: 0;
  }

  .speak-date {
      margin-right: auto;
      background-color: #2F2FA2;
      right: 0;
      color: white;
  }

.back.navigate {
    display: none;
}

